@import './theme-variables.scss';
@import "~bootstrap/scss/bootstrap";

.theme-dark {
    background-color: #222736;
}




.gustavo-potter-header {
    font-size: 5rem;
    font-family: 'Harry Potter', sans-serif;

    @include themify($themes) {
        color: themed('colorText');
    }
}


h3,
p,
table {
    @include themify($themes) {
        color: themed('colorText');
        border-color: themed('colorBorder');
    }
}
