@import './theme-variables.scss';
@import "~bootstrap/scss/bootstrap";
@import 'react-lazy-load-image-component/src/effects/blur.css';

.theme-dark {
    background-color: #222736;
}


.lazy-load-image-background{
    text-align: center;
}

.gustavo-potter-header {
    font-size: 5rem;
    font-family: 'Harry Potter', sans-serif;

    @include themify($themes) {
        color: themed('colorText');
    }
}


h3,
p,
table {
    @include themify($themes) {
        color: themed('colorText');
        border-color: themed('colorBorder');
    }
}
