@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$themes: (
  light: (
    colorHeaderFooter: $light,
    colorText: #000,
    colorBackground: #f8f8fa,
    colorBorder:  $card-border-color,
  ),
  dark: (
    colorHeaderFooter: #36394c,
    colorText: #eff2f7,
    colorBackground: #222736,
    colorBorder: rgba(255, 255, 255, 0.1)
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
   }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}